<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Quick Links</div>
        <div class="card-body">
          <ul class="list-group  row list-group-horizontal">
            <li class="list-group-item col-md-2" routerLink="/dashboard/allEvents">
              Events
            </li>
            <li class="list-group-item col-md-2" routerLink="/dashboard/allUsers">
              Users
            </li>
            <li class="list-group-item col-md-2" routerLink="/dashboard/updateLinks">
              Update Links
            </li>
            <li class="list-group-item col-md-2" routerLink="/dashboard/promotions">
              Promotions
            </li>
            <li class="list-group-item col-md-2" routerLink="/dashboard/overview">
              Overview
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
