<p-progressSpinner *ngIf="loader"></p-progressSpinner>

<div class="row mt-5 d-flex justify-content-center" *ngIf="noData">
  <div class="col-5">
    <p-card>
      <p>No Users have been registered yet.</p>
    </p-card>
  </div>
</div>



<div class="container p-5 table-wrapper" *ngIf="!loader && !noData">
  <p-toast></p-toast>
  <div class="parent-table-pro-users row p-0">
    <div class="col-12 p-0">
      <h1>Professional Users</h1>

      <!--      <div class="d-flex justify-content-end align-items-center p-2">-->
<!--        <button class="btn btn-secondary" (click)="getProUsers()">Pro Users</button>-->
<!--        <button class="btn btn-primary ml-2" (=false">Regular Users</button>-->
<!--      </div>-->
      <p-table [value]="users" class="allEventsTable" [scrollable]="true" [totalRecords]="users.length"
               [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[25,50,100]">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:100px">
            <col style="width:150px">
            <col style="width:150px">
<!--            <col style="width:250px">-->
<!--            <col style="width:250px">-->
<!--            <col style="width:250px">-->
<!--            <col style="width:250px">-->
<!--            <col style="width:250px">-->
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:150px">
            <col style="width:250px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <!--            <th>First Name</th>-->
<!--            <th>Last Name</th>-->
<!--            <th>Username</th>-->
<!--            <th>Password</th>-->
            <th>Name</th>
            <th>Back Stage Code</th>
            <th>Street Address</th>
            <th>Country</th>
            <th>Zip Code</th>
<!--            <th>Contact Number</th>-->
            <th>Email</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <button pButton type="button"  icon="pi pi-user-edit" class="p-button-raised p-button-rounded p-button-success" (click)="openNew(user)"></button>
              <button pButton type="button"  icon="pi pi-trash" class="p-button-raised p-button-rounded ml-2 p-button-danger" (click)="deleteUser(user)"></button>
            </td>
<!--            <td>{{user.firstName}}</td>-->
<!--            <td>{{user.lastName}}</td>-->
<!--            <td>{{user.username}}</td>-->
<!--            <td>{{user.password}}</td>-->
            <td>{{user.title}}</td>
            <td>{{user.backStageCode}}</td>
            <td>{{user.streetAddress}}</td>
            <td>{{user.country}}</td>
            <td>{{user.zipCode}}</td>
<!--            <td>{{user.contactNumber}}</td>-->
            <td>{{user.email}}</td>

          </tr>
        </ng-template>
      </p-table>

      <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Edit User" [modal]="true" styleClass="p-fluid">
        <div>

          <div>
            <img [src]="proUser.profilePictureLink" alt="Profile picture">
          </div>
          <div class="p-field">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="eventImage" name="ImageUrl"
                     #fileInput (change)="onFileChanged($event)" [(ngModel)]="proUser.profilePictureLink">
              <label class="custom-file-label" for="eventImage">Profile Picture</label>
            </div>
          </div>
          <div class="p-field  mt-1">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="secondaryPic" name="ImageUrl"
                     #secondaryPic (change)="onSecondFileChanged($event)" [(ngModel)]="proUser.secondaryProfilePictureLink">
              <label class="custom-file-label" for="eventImage">Brand Picture</label>
            </div>
          </div>
          <div class="p-field mt-1">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="calendarPic" name="ImageUrl"
                     #calendarPic (change)="onCalendarFileChanged($event)" [(ngModel)]="proUser.calenderViewLink">
              <label class="custom-file-label" for="eventImage">Dance Schedule</label>
            </div>
          </div>
          <div class="p-field mt-1">
            <label>Description </label>
            <textarea pInputTextarea   [(ngModel)]="proUser.description"   ></textarea>
          </div>
          <div class="p-field">
            <label>Name</label>
            <input type="text" pInputText [(ngModel)]="proUser.title"   />
          </div>
<!--          <div class="p-field">-->
<!--            <label>First Name</label>-->
<!--            <input type="text" pInputText [(ngModel)]="proUser.firstName"  autofocus />-->
<!--          </div>-->
<!--          <div class="p-field">-->
<!--            <label>Last Name</label>-->
<!--            <input type="text" pInputText [(ngModel)]="proUser.lastName"   />-->
<!--          </div>-->
<!--          <div class="p-field">-->
<!--            <label>Username</label>-->
<!--            <input type="text" pInputText  [(ngModel)]="proUser.username"   />-->
<!--          </div>-->

          <div class="p-field">
            <label>Email</label>
            <input type="email" pInputText [(ngModel)]="proUser.email"   />
          </div>

          <div class="p-field">
            <label>Password</label>
            <input type="password" pInputText [(ngModel)]="proUser.password"   />
          </div>
<!--          <div class="p-field">-->
<!--            <label>Title</label>-->
<!--            <input type="text" pInputText [(ngModel)]="proUser.title" required  />-->
<!--          </div>-->
          <div class="p-field">
            <label>Back Stage Code</label>
            <input type="text" pInputText [(ngModel)]="proUser.backStageCode"   />
          </div>
          <div class="p-field">
            <label>Street Address</label>
            <input type="text" pInputText  [(ngModel)]="proUser.streetAddress"   />
          </div>
          <div class="p-field">
            <label>Country</label>
            <input type="text" pInputText  [(ngModel)]="proUser.country"   />
          </div>
          <div class="p-field">
            <label>Zip Code</label>
            <input type="text" pInputText  [(ngModel)]="proUser.zipcode"   />
          </div>
<!--          <div class="p-field">-->
<!--            <label>Contact Number</label>-->
<!--            <input type="text" pInputText  [(ngModel)]="proUser.contactNumber"   />-->
<!--          </div>-->


        </div >
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="editUser()"></button>
        </ng-template>
      </p-dialog>
      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


    </div>
  </div>
</div>

