.tableWrapper{
    margin-left: 300px;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 800px;
}
:host ::ng-deep .p-progress-spinner{
  position: absolute;
  z-index: 1;
  top: 33%;
  left: 35%;
}


.parent-table-event-users{
  width: 80vw !important;
}
