<div class="containerbox">
    <div class="content-layout" >
        <div class="contentsidebar">
            <div class="logo-section">
              <img src="assets/images/Logo.png">
            </div>
            <div class="navigatebutton">
              <!-- <div class="dashboardbutton">
                <button routerLink="/userdashboard">Dashboard</button>
              </div> -->
              <div class="eventbutton">
                <button routerLink="/admindashboard">Events</button>
              </div>
            </div>
            <div class="loginbtn-section">
              <div class="loginbtn-div">
                <button class="loginbtn" (click) = "logoutuser()">
                  <img  src="assets/images/Group%20762.png">
                  Logout</button>
              </div>
            </div>
          </div>
    </div>
</div>
